{
  "presets": [
    "stage-2",
    "react",
    "env"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ],
      "ignore": [
        "node_modules"
      ]
    }
  }
}
