# Path to Solr Core (collection) with DCAT-AP data.
solr.url = http://localhost:8983/solr/collection1

# Path to Virtuoso SPARQL endpoint.
virtuoso.sparql.url = https://localhost/sparql

# Port used by DCAT-AP viewer.
port = 3000

# Page title configuration.
client.title_prefix =
client.title_suffix = - NKOD

