#
# All URLs must NOT end with "/".
#

# Path to Solr Core (collection) with DCAT-AP data.
solr.url = http://localhost:8983/solr/nkod

# Path to Virtuoso instance with data.
virtuoso.sparql.url =

# Path to CouchDB database.
couchdb.dataset.url =

# Port used by DCAT-AP viewer.
port = 3000

# Page title configuration.
client.title_prefix =
client.title_suffix = - NKOD

# Sentry error report URL.
sentry.url =
