@media (prefers-color-scheme: dark) {

    :root {
        --color-background: #222;
        --color-background-footer: #333;
        --color-border: rgba(255, 255, 255, 0.125);
        --color-text-default: #ddd;
        --color-text-inverted: #222;
        --color-text-accent: white;
        --color-text-accent-inverted: white;
        --color-base: #057fa544;
    }

    nav a, .page-item a.page-link {
        text-decoration: underline;
    }

    .text-muted {
        color: var(--color-text-default);
    }

    a:hover, nav a:hover, .page-item.active a.page-link {
        text-decoration: none;
    }

    a {
        text-decoration: underline;
    }

    button.navbar-toggler {
        background-color: var(--color-background-footer);
    }

    .paginator button.dropdown-item {
        text-decoration: underline;
    }

    .paginator button.dropdown-item:hover {
        text-decoration: none;
    }

    .badge-info {
        background-color: var(--color-base);
        color: var(--color-text-default);
    }    

    .modal-content {
        background-color: #303030;
    }

    .btn-secondary {
        color: #fff;
        background-color: #444;
        border-color: #444;
    }

    .btn-secondary:hover {
        color: #fff;
        background-color: #313131;
        border-color: #2b2a2a;
    }

    .dropdown-item {
        color: var(--color-text-default);
    }

    .paginator .page-item.active a.page-link {
        background-color: var(--color-text-default);
    }

}
