a {
    color: #057fa5;
}

.btn-primary {
    background-color: #057fa5;
    border-color: white;
}

.page-link {
    color: #057fa5;
}

.page-item.active .page-link {
    background-color: #057fa5;
}

.list-group-item.active {
    background-color: #057fa5;
    border-color: #057fa5;
}

@media (max-width: 576px) {
    .collapse-sm-down {
        display: none;
    }

    .collapse-sm-down.show {
        display: block;
    }
}

/* Indeterminate-loader */

.indeterminate-loader {
    width: 100%;
    height: 5px;
    background-color: #FFFFFF;
    overflow: hidden;
}

.indeterminate-loader .progress {
    background-color: #057fa5;
    height: 5px;
    width: 0%;
    -webkit-animation: indeterminate-loader-animation 3.0s infinite 0.7s linear;
    animation: indeterminate-loader-animation 3.0s infinite 0.7s linear;
}

@keyframes indeterminate-loader-animation {
    0% {
        margin-left: -5%;
        width: 5%;
    }
    75% {
        width: 50%;
        margin-left: 50%;
    }
    100% {
        margin-left: 100%;
    }
}

@-webkit-keyframes indeterminate-loader-animation {
    0% {
        margin-left: -5%;
        width: 5%;
    }
    75% {
        width: 50%;
        margin-left: 50%;
    }
    100% {
        margin-left: 100%;
    }
}

/* Navigation bar */

.navbar-light .navbar-nav .nav-link {
    color: #057fa5;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #014c8c;
}

/* Interactive button (links). */

.page-button {

}

.active > .page-button {
    background-color: #057fa5;
    color: #ffffff;
}

.filter-button:focus {
    outline: 0;
}

/* Remove min width from navigation bar. */

.language-drop-down {
    min-width: 2rem;
    width: 3rem;
    height: 3rem;

}

.language-drop-down button {
    padding: 0px;
}