
:root {
    --color-background: white ;
    --color-border: rgba(0,0,0,.125);
    --color-background-footer: #fff;
    --color-text-default: black ;
    --color-text-inverted: white ;
    --color-text-accent: #057fa5 ;
    --color-text-accent-inverted: black ;
    --color-base: #057fa5 ;

    --color-data-service-text: var(--color-text-inverted);
    --color-data-service-background: #0bac55;
    --color-data-service-border: #0bac55;
}
